<mat-card>
    <mat-card-header>
        <mat-card-title>Наши поделки</mat-card-title>
        <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam officiis incidunt nisi totam atque? Qui in consequatur adipisci corporis similique alias rerum perferendis quisquam reprehenderit assumenda, rem, magni iure et.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Ok</button>
    </mat-card-actions>
</mat-card>